@model bank.Models.Record

<h1>Account Page</h1>
<div class="row">
<div class="col-sm-6">
    <h1>Welcome @ViewBag.user.FirstName!</h1>
</div>
<div class="col-sm-6">
    <h3>Balance: $@ViewBag.balance</h3>
</div>
</div>
<div class="row">
    <form asp-controller="Account" asp-action="record" method="post">
    <div class="form-group">
        <label asp-for="Amount">Deposit/Withdrawal: $</label>
        <input asp-for="Amount">
    </div>
    <input type="submit" value="Submit">
</form>
<p style="color:red">@ViewBag.error</p>

<table class="table">
    <tr>
        <th>Amount</th>
        <th>Date</th>
    </tr>
    @foreach(var record in @ViewBag.records){
        <tr>
            <td>$@record.Amount</td>
            <td>@record.CreatedAt</td>
        </tr>
    }
</table>
</div>